@font-face {
    font-family: "CustomFont";	
    src: url("font.ttf");
}

* {
    background: black;
    user-select: none;
    
    font-family: "CustomFont";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;    
}

.mine {
    background-image: url('assets/mine.png');
}

.flag {
    background-image: url('assets/flag.png')
}

#cell {
    position: absolute;
    background-size: 100% 100%;
}

#cell:hover {
    opacity: 0.5;
    cursor: pointer;
}

#notif {
    width: 25%;
    aspect-ratio: 2 / 1;
    background: lightgrey;

    border-radius: 10px;
    
    color: black;
    font-size: 200%;

    display: none;
}